---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [194]:
import pandas as pd
import re

In [195]:
energy_df = pd.read_excel(open('Energy Indicators.xls', 'rb'), sheetname = 'Energy',skiprows = 17)

In [196]:
energy_df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650

In [197]:
energy_df.columns.tolist()

['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Petajoules', 'Gigajoules', '%']

In [198]:
# drop the first two columns as per instructions
energy_df.drop(['Unnamed: 0', 'Unnamed: 1'], axis = 1, inplace = True)

In [199]:
energy_df.rename(columns = {'Unnamed: 2': 'Country', 'Petajoules': 'Energy Supply', 'Gigajoules': 'Energy Supply per Capita', '%': '% Renewable'}, inplace = True)

In [200]:
energy_df.head(1)

       Country Energy Supply Energy Supply per Capita  % Renewable
0  Afghanistan           321                       10     78.66928

In [201]:
energy_df['Energy Supply'] = energy_df['Energy Supply'] * 1000000

In [202]:
# Convert the relevant columns to floats
energy_df[['Energy Supply', 'Energy Supply per Capita', '% Renewable']] = energy_df[['Energy Supply', 'Energy Supply per Capita', '% Renewable']].apply(pd.to_numeric, args= ('coerce', ))

In [203]:
energy_df.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

In [204]:
# use regex to remove the parenthesis and numericals from Country name
energy_df['Country'] = energy_df['Country'].replace("(\s\(.*|\d+)", "", regex = True)

In [205]:
alias = {"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"}

In [206]:
# update Country names with those in alias
energy_df['Country'] = energy_df['Country'].apply(lambda row: alias[row] if row in alias else row)

In [207]:
# check that the substitution of names is succesful
energy_df[energy_df['Country'].isin(alias.values())].dropna()

            Country  Energy Supply  Energy Supply per Capita  % Renewable
43        Hong Kong   5.850000e+08                      82.0     0.000000
164     South Korea   1.100700e+10                     221.0     2.279353
214  United Kingdom   7.920000e+09                     124.0    10.600470
216   United States   9.083800e+10                     286.0    11.570980

In [208]:
# check that the substitution of numbers is successful
energy_df[energy_df['Country'] == 'Switzerland'].dropna()

         Country  Energy Supply  Energy Supply per Capita  % Renewable
197  Switzerland   1.113000e+09                     136.0     57.74548

In [210]:
# find rows to drop
energy_df.tail(50)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
215,United Republic of Tanzania,9.940000e+08,20.0,31.07284
216,United States,9.083800e+10,286.0,11.57098
217,United States Virgin Islands,NaN,NaN,0.00000
218,Uruguay,1.960000e+08,58.0,71.60504
219,Uzbekistan,1.798000e+09,62.0,21.32841
220,Vanuatu,3.000000e+06,10.0,14.70588
221,Venezuela,2.871000e+09,95.0,67.83452
222,Viet Nam,2.554000e+09,28.0,45.32152
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.00000
224,Yemen,3.440000e+08,13.0,0.00000
225,Zambia,4.000000e+08,26.0,99.71467
226,Zimbabwe,4.800000e+08,32.0,52.53612
227,NaN,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN
229,NaN,NaN,NaN,NaN
230,NaN,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN
232,NaN,NaN,NaN,NaN
233,NaN,NaN,NaN,NaN
234,Excludes the overseas territories.,NaN,NaN,NaN
235,Data exclude Hong Kong and Macao Special Admin...,NaN,NaN,NaN
236,Data on kerosene-type jet fuel include aviatio...,NaN,NaN,NaN
237,"For confidentiality reasons, data on coal and ...",NaN,NaN,NaN
238,Data exclude Greenland and the Danish Faroes.,NaN,NaN,NaN
239,"Data include Monaco, and exclude the following...",NaN,NaN,NaN
240,Data for kerosene-type jet fuel include other ...,NaN,NaN,NaN
241,Data include Timor-Leste until .,NaN,NaN,NaN
242,Data include San Marino and the Holy See.,NaN,NaN,NaN
243,Data include Okinawa.,NaN,NaN,NaN
244,The data for crude oil production include per...,NaN,NaN,NaN
245,Data exclude Suriname and the Netherlands Anti...,NaN,NaN,NaN
246,Data include the Azores and Madeira.,NaN,NaN,NaN
247,Data for crude oil production include per cen...,NaN,NaN,NaN
248,Data exclude Kosovo from onwards.,NaN,NaN,NaN
249,Data include the Canary Islands.,NaN,NaN,NaN
250,Data include Liechtenstein for oil statistics.,NaN,NaN,NaN
251,"For confidentiality reasons, data on the follo...",NaN,NaN,NaN
252,"Shipments of coal and oil to Jersey, Guernsey ...",NaN,NaN,NaN
253,Includes the states and the District of Colum...,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN
255,NaN,NaN,NaN,NaN
256,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN
258,NaN,NaN,NaN,NaN
259,NaN,NaN,NaN,NaN
260,NaN,NaN,NaN,NaN
261,NaN,NaN,NaN,NaN
262,NaN,NaN,NaN,NaN
263,NaN,NaN,NaN,NaN
264,NaN,NaN,NaN,NaN

In [226]:
# drop footer rows after observation
energy_df = energy_df.drop(energy_df.index[227:])

In [209]:
def answer_one():
    return "ANSWER"

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [1]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [ ]:
def answer_two():
    return "ANSWER"

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [ ]:
def answer_three():
    Top15 = answer_one()
    return "ANSWER"

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [ ]:
def answer_four():
    Top15 = answer_one()
    return "ANSWER"

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [ ]:
def answer_five():
    Top15 = answer_one()
    return "ANSWER"

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [ ]:
def answer_six():
    Top15 = answer_one()
    return "ANSWER"

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [ ]:
def answer_seven():
    Top15 = answer_one()
    return "ANSWER"

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [ ]:
def answer_eight():
    Top15 = answer_one()
    return "ANSWER"

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def answer_nine():
    Top15 = answer_one()
    return "ANSWER"

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
def answer_ten():
    Top15 = answer_one()
    return "ANSWER"

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
    Top15 = answer_one()
    return "ANSWER"

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [ ]:
def answer_thirteen():
    Top15 = answer_one()
    return "ANSWER"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!